LICENSE
include tccli/services/antiddos/v20200309/api.json
include tccli/services/antiddos/v20200309/examples.json
include tccli/services/apigateway/v20180808/api.json
include tccli/services/apigateway/v20180808/examples.json
include tccli/services/autoscaling/v20180419/api.json
include tccli/services/autoscaling/v20180419/examples.json
include tccli/services/batch/v20170312/api.json
include tccli/services/batch/v20170312/examples.json
include tccli/services/billing/v20180709/api.json
include tccli/services/billing/v20180709/examples.json
include tccli/services/cam/v20190116/api.json
include tccli/services/cam/v20190116/examples.json
include tccli/services/cbs/v20170312/api.json
include tccli/services/cbs/v20170312/examples.json
include tccli/services/cdb/v20170320/api.json
include tccli/services/cdb/v20170320/examples.json
include tccli/services/cdn/v20180606/api.json
include tccli/services/cdn/v20180606/examples.json
include tccli/services/cfs/v20190719/api.json
include tccli/services/cfs/v20190719/examples.json
include tccli/services/chdfs/v20201112/api.json
include tccli/services/chdfs/v20201112/examples.json
include tccli/services/ckafka/v20190819/api.json
include tccli/services/ckafka/v20190819/examples.json
include tccli/services/clb/v20180317/api.json
include tccli/services/clb/v20180317/examples.json
include tccli/services/cloudaudit/v20190319/api.json
include tccli/services/cloudaudit/v20190319/examples.json
include tccli/services/cmq/v20190304/api.json
include tccli/services/cmq/v20190304/examples.json
include tccli/services/cvm/v20170312/api.json
include tccli/services/cvm/v20170312/examples.json
include tccli/services/cynosdb/v20190107/api.json
include tccli/services/cynosdb/v20190107/examples.json
include tccli/services/dayu/v20180709/api.json
include tccli/services/dayu/v20180709/examples.json
include tccli/services/dbbrain/v20210527/api.json
include tccli/services/dbbrain/v20210527/examples.json
include tccli/services/dbbrain/v20191016/api.json
include tccli/services/dbbrain/v20191016/examples.json
include tccli/services/dc/v20180410/api.json
include tccli/services/dc/v20180410/examples.json
include tccli/services/dcdb/v20180411/api.json
include tccli/services/dcdb/v20180411/examples.json
include tccli/services/dms/v20200819/api.json
include tccli/services/dms/v20200819/examples.json
include tccli/services/dts/v20180330/api.json
include tccli/services/dts/v20180330/examples.json
include tccli/services/ecdn/v20191012/api.json
include tccli/services/ecdn/v20191012/examples.json
include tccli/services/emr/v20190103/api.json
include tccli/services/emr/v20190103/examples.json
include tccli/services/es/v20180416/api.json
include tccli/services/es/v20180416/examples.json
include tccli/services/faceid/v20180301/api.json
include tccli/services/faceid/v20180301/examples.json
include tccli/services/gaap/v20180529/api.json
include tccli/services/gaap/v20180529/examples.json
include tccli/services/gme/v20180711/api.json
include tccli/services/gme/v20180711/examples.json
include tccli/services/gpm/v20200820/api.json
include tccli/services/gpm/v20200820/examples.json
include tccli/services/gse/v20191112/api.json
include tccli/services/gse/v20191112/examples.json
include tccli/services/iai/v20200303/api.json
include tccli/services/iai/v20200303/examples.json
include tccli/services/iotcloud/v20210408/api.json
include tccli/services/iotcloud/v20210408/examples.json
include tccli/services/ip/v20210409/api.json
include tccli/services/ip/v20210409/examples.json
include tccli/services/kms/v20190118/api.json
include tccli/services/kms/v20190118/examples.json
include tccli/services/lighthouse/v20200324/api.json
include tccli/services/lighthouse/v20200324/examples.json
include tccli/services/live/v20180801/api.json
include tccli/services/live/v20180801/examples.json
include tccli/services/mariadb/v20170312/api.json
include tccli/services/mariadb/v20170312/examples.json
include tccli/services/mdc/v20200828/api.json
include tccli/services/mdc/v20200828/examples.json
include tccli/services/mdl/v20200326/api.json
include tccli/services/mdl/v20200326/examples.json
include tccli/services/mdp/v20200527/api.json
include tccli/services/mdp/v20200527/examples.json
include tccli/services/mongodb/v20190725/api.json
include tccli/services/mongodb/v20190725/examples.json
include tccli/services/monitor/v20180724/api.json
include tccli/services/monitor/v20180724/examples.json
include tccli/services/mps/v20190612/api.json
include tccli/services/mps/v20190612/examples.json
include tccli/services/msp/v20180319/api.json
include tccli/services/msp/v20180319/examples.json
include tccli/services/ocr/v20181119/api.json
include tccli/services/ocr/v20181119/examples.json
include tccli/services/organization/v20181225/api.json
include tccli/services/organization/v20181225/examples.json
include tccli/services/postgres/v20170312/api.json
include tccli/services/postgres/v20170312/examples.json
include tccli/services/privatedns/v20201028/api.json
include tccli/services/privatedns/v20201028/examples.json
include tccli/services/redis/v20180412/api.json
include tccli/services/redis/v20180412/examples.json
include tccli/services/scf/v20180416/api.json
include tccli/services/scf/v20180416/examples.json
include tccli/services/ses/v20201002/api.json
include tccli/services/ses/v20201002/examples.json
include tccli/services/sms/v20210111/api.json
include tccli/services/sms/v20210111/examples.json
include tccli/services/sms/v20190711/api.json
include tccli/services/sms/v20190711/examples.json
include tccli/services/sqlserver/v20180328/api.json
include tccli/services/sqlserver/v20180328/examples.json
include tccli/services/ssl/v20191205/api.json
include tccli/services/ssl/v20191205/examples.json
include tccli/services/ssm/v20190923/api.json
include tccli/services/ssm/v20190923/examples.json
include tccli/services/sts/v20180813/api.json
include tccli/services/sts/v20180813/examples.json
include tccli/services/tag/v20180813/api.json
include tccli/services/tag/v20180813/examples.json
include tccli/services/tcaplusdb/v20190823/api.json
include tccli/services/tcaplusdb/v20190823/examples.json
include tccli/services/tcr/v20190924/api.json
include tccli/services/tcr/v20190924/examples.json
include tccli/services/tem/v20210701/api.json
include tccli/services/tem/v20210701/examples.json
include tccli/services/tem/v20201221/api.json
include tccli/services/tem/v20201221/examples.json
include tccli/services/tiw/v20190919/api.json
include tccli/services/tiw/v20190919/examples.json
include tccli/services/tke/v20180525/api.json
include tccli/services/tke/v20180525/examples.json
include tccli/services/trtc/v20190722/api.json
include tccli/services/trtc/v20190722/examples.json
include tccli/services/vod/v20180717/api.json
include tccli/services/vod/v20180717/examples.json
include tccli/services/vpc/v20170312/api.json
include tccli/services/vpc/v20170312/examples.json
include tccli/services/yunjing/v20180228/api.json
include tccli/services/yunjing/v20180228/examples.json